body {
  width: 400px;
  padding-top: 50px;
}

.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}
.main {
  padding-top: 10px;
}

.contents {
  padding: 10px;
}

#log {
    height: 200px;
    max-width: 100%;
    overflow-x: scroll;
    margin-bottom: 10px;
}

#block-count {
    width: 60px;
}

.hidden-element {
    display: none;
}

#block-specified {
    width: 70px
}

.form-element {
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.ng-model-box {
    width: 100%;
    height: 26px;
}

.form {
    padding: 10px 20px 10px;
}

.control {
    margin-top: 20px;
}

.status {
    border-bottom: 1px #000 solid;
}

.settings-editor {
    border: 1px solid black;
}

.range-box {
    padding: 0px;
}

.range-mark {
    line-height: 26px;
    padding-left: 8px;
    padding-right: 8px;
}

.checkbox-mark {
    padding-left: 8px;
}
