body {
  width: 400px;
  padding-top: 50px;
}

.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}
.main {
  padding-top: 10px;
}

.contents {
  padding: 10px;
}

#log {
    height: 200px;
    max-width: 100%;
    overflow-x: scroll;
    margin-bottom: 10px;
}

#block-count {
    width: 60px;
}

.hidden-element {
    display: none;
}

#block-specified {
    width: 70px
}

.form-element {
    margin-top: 2px;
    margin-bottom: 2px;
}

.form-element select {
    width: 100%;
}

.form-element input {
    width: 100%;
}


.form {
    padding: 10px 30px 10px;
}

.control {
    margin-top: 20px;
}

.status {
    border-bottom: 1px #000 solid;
}
